*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.navbar, .container{
    background-color: rgb(28, 28, 29);
    width: 800px;
    border-radius: 2px;
}

.navbar{
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.btn, input{
    height: 35px;
    padding: 0 1em;
}

.color{
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.pixel{
    background-color: rgb(61, 61, 61);
    border-radius: 1px;
    cursor: pointer;
}

.container{
    --size: 4;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;
}

.title-list-color {
    color: #ffffff;

}

.colors-used-place {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    margin: 0px;
    width: 150px;
    background-color: rgb(28, 28, 29);
    color: #ffffff;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;

}

.main-place{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title-number-pixel, .number-pixel{
    color: #ffffff;
}
.used-pixel{
    display: flex;
    padding-left: 20px;
}